h1{
    background-color: rgb(255, 255, 255);
   
    padding: 30px;
    border: 10px solid black;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 40px 10px 40px;
  font-style: italic;
}
div{
    background-color:rgb(0, 255, 85);
    padding: 50px;
    color: rgb(255, 0, 0);
  
    border: 50px solid tomato;
    border-color: rgb(0, 255, 225);
    border-radius: 50px 100px 50px;
    text-align:center;
}